[Unit]
Description=Gunicorn daemon
After=network.target

[Service]
Environment="PROJ_BASEPATH=/srv/noe/hom"
Type=notify
User=root
Group=root
WorkingDirectory=/srv/noe/hom
#execStartPre=/bin/sh -c "source /usr/share/noe/venv/bin/activate"
ExecStart=/srv/noe/hom/venv/bin/gunicorn -c /srv/noe/hom/gunicorn.py app:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
