@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* @font-face{
  font-family: AlfaSlabOne;
  src: url(fonts/AlfaSlabOne-Regular.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');


.font-title-slab{
  font-family: 'Alfa Slab One', cursive;
}

.font-body-oxygen{
  font-family: 'Oxygen';
}
